
footer{
	height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: green;
    text-align: center;
		
}

#pie{
	background-color: green;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: none;
	height: 100%;
	width: 150px;
	list-style: none;

}
#pie a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
    display: block;
    padding: 10px;
    
}

#pie:hover{
	background-color: #037E8C;

	
}